# Ignore the raw datasets
data/raw/

# Ignore generated outputs by default
outputs/*

# Keep final README-facing figures
!outputs/figures/
!outputs/figures/*.png

# Ignore R session & environment files, and IDE artifacts 
.Rhistory
.RData
.Rproj.user/
*.Rproj
*.rds
*.fst
.Renviron

# Ignore large files, future-proofing against potential use cases like Adobe Parquet
*.zip
*.parquet

# Ignore OS junk files
.DS_Store
Thumbs.db